<footer>
      <p>
        Copyright &copy; 2005-<%= Time.now.year %>
        <%= link_to 'The Pragmatic Studio','https://pragmaticstudio.com' %>
      <p>
      <p>
      	<%= mail_to 'aaron.hood@fabricut.com', 'Contact Support' %>
      </p>
    </footer>